In [2]:
huutri_lst = [1 , "kteam" ,2 ]
for value in huutri_lst:
    print(value)

1
kteam
2

In [6]:
huutr = (value for value in range(4))
for value in huutr :
    print(value)

0
1
2
3

In [16]:
tr = [3,54, "huu " , "sfjb" , 65]
print(tr)
for valu in tr:
    print(valu)

[3, 54, 'huu ', 'sfjb', 65]
3
54
huu
sfjb
65

# lệnh yield
lệnh này gần giống vs lệnh return

In [53]:
#vd vs lệnh return :
def tri21(lst):
    sq_lst = []
    for num in lst:
        sq_lst.append(num**2)
    return sq_lst
tri_test = tri21([ 5,3,2022])
for value1 in tri_test :
    print(value1)

25
9
4088484

In [25]:
def tr12(lst):
    for num in lst :
        yield num**2
tri_test1 = tr12([2,4,6])
for value2 in tri_test1:
    print(value2)

4
16
36

In [60]:
def tri12(lst2):
    tr = []
    for num in lst2:
        tr.append(num **3)
    return tr
tri_thuchanh = tri12([2,4,6])
for value3 in tri_thuchanh :
    print(value3)

8
64
216